.holder{
    width: 100%;
    height: auto;
    display: flex;
    gap: .5rem;
}

.btn{
    height: 2.5rem;
    width: 6rem;
    background-color: beige;
    color: #333;
    border-radius: .2rem;
}

input{
    height: 2.5rem;
    width: 16rem;
    background-color: #f2f3f4;
    color: #333;
    border-radius: .2rem;
    border: none;
}

.loadingParent{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingChild{
  height: 50px;
  width: 50px;
  border: 5px solid #fff;
  border-top: 5px solid crimson;
  animation: spinner 1s linear infinite;
  border-radius: 50%;
}

@keyframes spinner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}